<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn1"
         connectionString="Data Source=.;Initial Catalog=PLDR;Integrated Security=True"
         providerName="PWMIS.DataProvider.Data.SqlServer,PWMIS.Core"/>
  </connectionStrings>
  <appSettings>
    <add key="NameSpace" value="MyNameSpace"/>
  </appSettings>
</configuration>