<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=192.168.50.15;uid=sa;pwd=sasa;database=PLZD;pooling=true;Max Pool Size = 2000;" providerName="SqlServer"/>
  </connectionStrings>
    <appSettings>
        <!--<add key="SqlServerConnectionString" value="Data Source=192.168.1.99;Initial catalog=RealEstateSurvey;user id=sa;password=sa" />
        <add key="SqlServerHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="SqlServerHelperType" value="PWMIS.CommonDataProvider.Data.SqlServer"></add>
		    <add key="OleDbConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\TestApp.mdb" />
        <add key="OleDbHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OleDbHelperType" value="PWMIS.CommonDataProvider.Data.OleDb"></add>
        <add key="OdbcConnectionString" value="DRIVER={SQL Server};SERVER=localhost;DATABASE=DAABAF;UID=daab;PWD=daab;" />
        <add key="OdbcHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OdbcHelperType" value="PWMIS.CommonDataProvider.Data.Odbc"></add>
        <add key="OracleConnectionString" value="User ID=DAAB;Password=DAAB;Data Source=spinvis_flash;" />
        <add key="OracleHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OracleHelperType" value="PWMIS.CommonDataProvider.Data.Oracle"></add>-->
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
