<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--PDF.NET SQL 日志记录配置（for 4.0）开始
        记录执行的SQL语句，关闭此功能请将SaveCommandLog 设置为False，或者设置DataLogFile 为空；
        如果DataLogFile 的路径中包括~符号，表示SQL日志路径为当前Web应用程序的根目录；
        如果DataLogFile 不为空且为有效的路径，当系统执行SQL出现了错误，即使SaveCommandLog 设置为False，会且仅仅记录出错的这些SQL语句；
        如果DataLogFile 不为空且为有效的路径，且SaveCommandLog 设置为True，则会记录所有的SQL查询。
        在正式生产环境中，如果不需要调试系统，请将SaveCommandLog 设置为False 。
    -->
    <add key="SaveCommandLog" value="True" />
    <add key="DataLogFile" value=".\SqlLog.txt" />
    <!--LogExecutedTime 需要记录的时间，如果该值等于0会记录所有查询，否则只记录大于该时间的查询。单位毫秒。-->
    <add key="LogExecutedTime" value="0" />
    <!--PDF.NET SQL 日志记录配置 结束-->
  </appSettings>
  <connectionStrings>
    <!--<add name="local" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer" />-->
    <!--<add name="local" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=testDb.accdb" providerName="Access" />-->
    <!--下面的配置适应于 Oracle.Client-->
    <!--<add name="local" connectionString="Data Source=XE;User Id=SOD;Password=sod123;Integrated Security=no;" providerName="Oracle" />-->
    <!--下面的配置，适应于ODP.Net，但是需要先启动VS，建立一个名字为 mydb 的Oracle连接 -->
    <!--<add name="local" connectionString="Data Source=mydb;User Id=SOD;Password=sod123" 
         providerName="PWMIS.DataProvider.Data.OracleDataAccess.Oracle,PWMIS.OracleClient" />-->
    <!--下面的配置，适应于ODP.Net -->
    <!--<add name="local" connectionString="Data Source=(DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = XE) 
    )
  );User Id=SOD;Password=sod123"
        providerName="PWMIS.DataProvider.Data.OracleDataAccess.Oracle,PWMIS.OracleClient" />-->
    <!--<add name="local" connectionString="Data Source=.\sod.sdf;Password=sod" providerName="PWMIS.DataProvider.Data.SqlServerCe,PWMIS.SqlServerCeClient"/>-->
    <!--<add name="local" connectionString="server=192.168.70.195;User Id=root;password=123456;CharSet=utf8;DataBase=Test;Allow Zero Datetime=True" providerName="PWMIS.DataProvider.Data.MySQL,PWMIS.MySqlClient"/>-->
    <!--<add name="local" connectionString="server=127.0.0.1;User Id=root;password=;DataBase=mydb" providerName="PWMIS.DataProvider.Data.PostgreSQL,PWMIS.PostgreSQLClient"/>-->
  <!--<add name="local" connectionString="Data Source=testDb.db;Initial Catalog=LocalDB;Integrated Security=True" providerName="PWMIS.DataProvider.Data.SQLite,PWMIS.SQLiteClient" />-->
    <!--Odbc,Oledb 方式无法自动创建数据库和表，请用前面的连接方式测试后，再修改代码使用下面的连接-->
    <!--<add name="local" connectionString="Dsn=SQL_ODBC32" providerName="Odbc" />-->
    <add name="local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~/Database1.mdf;Integrated Security=True" providerName="SqlServer" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
