<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Namespace name="DemoNameSpace">
    <Map name="DemoSqlName">
      <Sql><![CDATA[ select * from table ]]></Sql>
    </Map>
  </Namespace>
  <Namespace name="ConsoleTest">
    <Map name="UserPropertyView">
      <Sql><![CDATA[  SELECT tu.UID,tu.Name,tup.PropertyName,tup.PropertyValue 
  FROM Table_User tu
  INNER JOIN Table_UserProperty tup ON tu.UID=tup.UID]]></Sql>
    </Map>
  </Namespace>
</configuration>