.vs
App_Data
bin
BLL
obj
发布目录
packages
ToolsBin
/src/MessageServiceFramework/Test/ServiceHost
/src/MessageServiceFramework/MessageServiceFramework
/src/SOD/Backup
/src/SOD/Backup1
/src/SOD/ClassLibrary1
/docs/PWMIS.Tools实体生成工具精简版for .net4.0.rar
/src/MessageServiceFramework/WCF_Test.rar
