.vs
App_Data
bin
BLL
obj
发布目录
packages
ToolsBin
/src/MessageServiceFramework/Test/ServiceHost
/src/MessageServiceFramework/MessageServiceFramework/UpgradeLog2.htm
/src/SOD/Backup
/src/SOD/Backup1
/src/SOD/ClassLibrary1
