<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<!-- 本节定义 My.Application.Log 的登录配置-->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- 取消注释以下一节可写入应用程序事件日志-->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="SqlMapBuilderPath" value="SqlMapBuilder.exe"/>
		<add key="PDFCodeMakerPath" value="PDFCodeMaker.exe"/>
		<add key="EntityCodeMakerPath" value="SqlMapEntityCodeMaker.exe"/>
		<add key="PDFDotNETPath" value="PDFDotNET.exe"/>
		<add key="OpenMode" value="Inner"/>
		<add key="VerCode" value="R"/>
		<add key="OnLineHelp" value="http://124.207.249.84:90/general/bbs/comment.php?BOARD_ID=8&amp;COMMENT_ID=215&amp;PAGE_START=1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup/></configuration>
