<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="local" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer" />-->
    <!--<add name="local" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=testDb.accdb" providerName="Access" />-->
    <!--下面的配置适应于 Oracle.Client-->
    <!--<add name="local" connectionString="Data Source=XE;User Id=SOD;Password=sod123;Integrated Security=no;" providerName="Oracle" />-->
    <!--下面的配置，适应于ODP.Net，但是需要先启动VS，建立一个名字为 mydb 的Oracle连接 -->
    <!--<add name="local" connectionString="Data Source=mydb;User Id=SOD;Password=sod123" 
         providerName="PWMIS.DataProvider.Data.OracleDataAccess.Oracle,PWMIS.OracleClient" />-->
    <!--下面的配置，适应于ODP.Net -->
    <!--<add name="local" connectionString="Data Source=(DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = XE) 
    )
  );User Id=SOD;Password=sod123"
        providerName="PWMIS.DataProvider.Data.OracleDataAccess.Oracle,PWMIS.OracleClient" />-->
    <!--<add name="local" connectionString="Data Source=.\sod.sdf;Password=sod" providerName="PWMIS.DataProvider.Data.SqlServerCe,PWMIS.SqlServerCeClient"/>-->
    <add name="local" connectionString="server=127.0.0.1;User Id=root;password=;DataBase=test" providerName="PWMIS.DataProvider.Data.MySQL,PWMIS.MySqlClient"/>
    <!--<add name="local" connectionString="server=127.0.0.1;User Id=root;password=;DataBase=mydb" providerName="PWMIS.DataProvider.Data.PostgreSQL,PWMIS.PostgreSQLClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
