<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <!-- 本程序默认使用最后一个有效地连接定义，请注释其它连接字符串
    如果使用MySQL,SQLite 等数据库，需要把本解决方案里面相关项目生成的DLL文件拷贝到当前站点运行目录的bin目录
    -->
    <!--下面的连接用于SQL SERVER -->
    <add name="default" connectionString="Data Source=(local);Initial Catalog=PWMIS_Demo;Integrated Security=True"/>
    <!--<add name="default" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|SqlSuperMarket.mdf;Integrated Security=True"  providerName="SqlServer"/>-->
    <!--下面的连接用于32位Windows上的SQLite -->
    <!--<add name="default" connectionString="Data Source=|DataDirectory|SuperMarket3.db" providerName="PWMIS.DataProvider.Data.SQLite,PWMIS.SQLiteClient"/>-->
    <!--下面的连接用于64位Linux上的SQLite -->
    <!--<add name="default" connectionString="Data Source=|DataDirectory|SuperMarket.db" providerName="PWMIS.DataProvider.Data.Sqlite,PWMIS.SQLiteClient.Mono40x64"/>-->
    <!--下面的连接用于32位Linux上的SQLite -->
    <!--<add name="default" connectionString="Data Source=|DataDirectory|SuperMarket32.db" providerName="PWMIS.DataProvider.Data.Sqlite,PWMIS.DataProvider.SQLite.Mono40x32"/>-->
    <!--下面的连接用于MySQL -->
    <!--<add name="default" connectionString="server=10.0.0.1;User Id=pdfnet;password=pdfnet2015;CharSet=utf8;DataBase=test;Allow Zero Datetime=True" providerName="PWMIS.DataProvider.Data.MySQL,PWMIS.MySqlClient"/>-->
    <!--<add name="AccessDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Engine Type=6;Data Source= |DataDirectory|SuperMarket.accdb" providerName="Access"/>-->

  </connectionStrings>
</configuration>
