<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IOCConfigFile" value=".\IOCConfig.xml" />
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="8888" />
    <!-- 全局缓存配置
    GlobalCacheProvider="CacheServer" 将使用分布式的缓存服务器，这时候需要配置 CacheConfigFile，其它值将使用本地的缓存
    CacheConfigFile ：缓存服务器的地址的配置文件，也就是本 ServiceHost 运行的另外一些实例
    -->
    <add key="GlobalCacheProvider" value="" />
    <add key="CacheConfigFile" value="CacheServerCfg.xml" />
    <!-- 全局缓存配置结束 -->
    <!--PDF.NET SQL 日志记录配置（for 4.0）开始
        记录执行的SQL语句，关闭此功能请将SaveCommandLog 设置为False，或者设置DataLogFile 为空；
        如果DataLogFile 的路径中包括~符号，表示SQL日志路径为当前Web应用程序的根目录；
        如果DataLogFile 不为空且为有效的路径，当系统执行SQL出现了错误，即使SaveCommandLog 设置为False，会且仅仅记录出错的这些SQL语句；
        如果DataLogFile 不为空且为有效的路径，且SaveCommandLog 设置为True，则会记录所有的SQL查询。
        在正式生产环境中，如果不需要调试系统，请将SaveCommandLog 设置为False 。
    -->
    <add key="SaveCommandLog" value="False" />
    <add key="DataLogFile" value=".\SqlLog.txt" />
    <!--LogExecutedTime 需要记录的时间，如果该值等于0会记录所有查询，否则只记录大于该时间的查询。单位毫秒。-->
    <add key="LogExecutedTime" value="0" />
    <!--PDF.NET SQL 日志记录配置 结束-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>