<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BitAuto.Ucar.Transtar.Data" type="BitAuto.Ucar.Transtar.Data.Bases.NetTiersServiceSection, BitAuto.Ucar.Transtar.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="Bitauto.Ucar.Transtar.Framework.Data" type="Bitauto.Ucar.Transtar.Framework.Data.Bases.NetTiersServiceSection, Bitauto.Ucar.Transtar.Framework.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="BitAuto.Services.Dal" type="BitAuto.Services.Dal.Bases.NetTiersServiceSection, BitAuto.Services.Dal" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="BitAuto.Ucar.Transtar.Auction.NetTiers.Dal" type="BitAuto.Ucar.Transtar.Auction.NetTiers.Dal.Bases.NetTiersServiceSection, BitAuto.Ucar.Transtar.Auction.NetTiers.Dal" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BitAuto.Ucar.Transtar.Auction.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- Memcached config 1/2 - start -->
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <!-- Memcached config 1/2 - end -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!-- Memcached config 2/2 - start -->
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.200.41" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="BitAuto_Ucar_Auction_Test" defaultExpireTime="2000" />
    </providers>
  </cacheProvider>
  <!-- Memcached config 2/2 - end -->
  <connectionStrings>
    <add name="BitAuto.Ucar.Transtar.Auction.NetTiers.Dal.ConnectionString" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=TranstarAuction2011_120;" />
    <add name="UcarRead" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=UcarCommon" />
    <add name="Ucar" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=UcarCommon" />
    <add name="BitAuto.Ucar.Transtar.Data.ConnectionString" connectionString="Data Source=192.168.200.51;Initial Catalog=Transtar2008_120;Persist Security Info=True;User ID=pc_write;Password=666666" />
    <add name="Bitauto.Ucar.Transtar.Framework.Data.ConnectionString" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=Transtar2007_120" />
    <add name="test" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\开发\Dev.Dept\TranstarAuction2011\Src\TranstarAuctionWinForm\TranstarAuctionWin\DataBase\DBTAW.mdf;Integrated Security=True;User Instance=true" providerName="SqlServer" />
    <add name="BitAuto.Services.Dal.ConnectionString" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=TranstarFramework" />
    <add name="default" connectionString="server=192.168.200.51;uid=pc_write;pwd=666666;database=TranstarAuction2011_120;" providerName="SqlServer" />
  </connectionStrings>
  <appSettings>
    <add key="IOCConfigFile" value=".\IOCConfig.xml" />
    <!--<add key="ServerIP" value="192.168.200.34"/>-->
    <add key="ServerIP" value="127.0.0.1" />
    <!--<add key="ServerIP" value="192.168.80.33" />-->
    <add key="ServerPort" value="8888" />
    <!-- 全局缓存配置
    GlobalCacheProvider="CacheServer" 将使用分布式的缓存服务器，这时候需要配置 CacheConfigFile，其它值将使用本地的缓存
    CacheConfigFile ：缓存服务器的地址的配置文件，也就是本 ServiceHost 运行的另外一些实例
    -->
    <add key="GlobalCacheProvider" value="" />
    <add key="CacheConfigFile" value="CacheServerCfg.xml" />
    <!-- 全局缓存配置结束 -->
    <!--PDF.NET SQL 日志记录配置（for 4.0）开始
        记录执行的SQL语句，关闭此功能请将SaveCommandLog 设置为False，或者设置DataLogFile 为空；
        如果DataLogFile 的路径中包括~符号，表示SQL日志路径为当前Web应用程序的根目录；
        如果DataLogFile 不为空且为有效的路径，当系统执行SQL出现了错误，即使SaveCommandLog 设置为False，会且仅仅记录出错的这些SQL语句；
        如果DataLogFile 不为空且为有效的路径，且SaveCommandLog 设置为True，则会记录所有的SQL查询。
        在正式生产环境中，如果不需要调试系统，请将SaveCommandLog 设置为False 。
    -->
    <add key="SaveCommandLog" value="False" />
    <add key="DataLogFile" value=".\SqlLog.txt" />
    <!--LogExecutedTime 需要记录的时间，如果该值等于0会记录所有查询，否则只记录大于该时间的查询。单位毫秒。-->
    <add key="LogExecutedTime" value="0" />
    <!--PDF.NET SQL 日志记录配置 结束-->
    <add key="ImageServerPath" value="http://img1.youxinpai.com/upload/UppUpload/" />
    <!--短信-->
    <add key="SMSDefaultAppId" value="5" />
    <add key="SMSDefaultKey" value="9900-AABB" />
    <add key="SMSDefaultCode" value="" />
    <add key="SMSAskAppId" value="6" />
    <add key="SMSAskKey" value="9900-AADD" />
    <add key="SMSAskCode" value="u" />
    <add key="SMSReMobile" value="123982881105779" />
    <add key="SMSUcarSignName" value="[]" />
    <add key="IsSendSMS" value="0" />
    <!--出价担保金费率0.005-->
    <add key="BidDepositRate" value="0.005" />
    <!--出价保证金最低值,单位:元 -->
    <add key="BidEnsureFeeStart" value="1000" />
    <!--延长出价结束时间和拍卖结束时间（分钟）-->
    <add key="PublishEndTimeAddMinutes" value="1" />
    <!--在出价结束时间结束前几分钟，延长结束时间-->
    <add key="PublishEndTimeLessMinutes" value="1" />
    <!--<add key="UpdatFileFolder" value ="WorkFolder"/>-->
    <add key="CarInfoXmlPath" value="D:\B2scProject\B2SC\CarInfo\" />
    <!--<add key="ImageServerPath" value="http://test1.image.ucar.cn/" />-->
    <add key="ImageServerPath" value="http://img1.youxinpai.com/upload/UppUpload/" />
    <add key="UppMarkImageKey" value="UppUpload" />
    <add key="dealerImageServerPath" value="http://test33.image.ucar.cn/" />
    <add key="AppraiseEndDays" value="30" />
    <!--pdf路径-->
    <add key="PdfBasePath" value="d:\\upload\UppUpload\PDF\" />
    <add key="UploadPicPath" value="\\192.168.200.33\ucar\upload\UppUpload\"></add>
    <add key="DealerUploadPicPath" value="d:\\upload\"></add>
    <add key="SMSDefaultAppId" value="5" />
    <add key="SMSDefaultKey" value="9900-AABB" />
    <add key="SMSDefaultCode" value="" />
    <add key="SMSAskAppId" value="6" />
    <add key="SMSAskKey" value="9900-AADD" />
    <add key="SMSAskCode" value="u" />
    <add key="SMSReMobile" value="123982881105779" />
    <add key="SMSUcarSignName" value="[]" />
    <add key="IsSendSMS" value="0" />
    <!--询价周期60分钟-->
    <add key="QuoteDate" value="60" />
    <!--拍卖周期-->
    <add key="PaimaiDate" value="2" />
    <!--flash上传路径-->
    <add key="flashUpload" value="http://test31.upp.ucar.cn/AjaxObjectPage/UploadByFlash.ashx" />
    <!--出价担保金费率0.005-->
    <add key="BidDepositRate" value="0.005" />
    <!--重新扣除出价担保金的差额比例-->
    <add key="BidDepositRepayDiff" value="0.1" />
    <!--在起草订单24小时后，买方未确认前，卖方可取消订单 -->
    <add key="TstCancelReqAfterDraftHours" value="24" />
    <!--支付网关 1-支付宝 2-财付通-->
    <add key="PaymentGateway" value="2" />
    <!--是否模拟支付-->
    <add key="IsAlipyDebug" value="1" />
    <!--支付相关配置-->
    <!--Ucar支付宝帐号 -->
    <add key="AlipayUcarEmail" value="xing0101@gmail.com" />
    <add key="PartnerKey" value="xu6xamwvgk5b51ahco9sgpbxy1e49ve9" />
    <add key="Partner" value="2088101568345155" />
    <add key="Op_Type" value="0008" />
    <add key="Return_Url" value="http://localhost/Payment/FreezeReturn.aspx" />
    <add key="Notify_Url" value="http://localhost/Payment/FreezeNotify.aspx" />
    <add key="ExchangeUrl" value="http://test2.exchange.ucar.cn/" />
    <!--财付通相关配置-->
    <add key="TenpayUcarEmail" value="xingearly@gmail.com" />
    <add key="TenpayPartnerKey" value="82d2f8b9fd7695aec51415ab2900a755" />
    <add key="TenpayPartner" value="1900000107" />
    <add key="Tenpay_Return_Url" value="http://test2.upp.ucar.cn/Payment/FreezeNotify.aspx" />
    <add key="Tenpay_Show_Url" value="http://test2.upp.ucar.cn/Payment/FreezeReturn.aspx" />
    <add key="TenpayCertPath" value="D:\Document\U拍拍\三期\财付通\1900000107.pfx" />
    <!--财付通支付比例，在测试的时候为1（减少支付金额，方便测试），正式部署的时候应为100-->
    <add key="TenpayProportion" value="100" />
    <!--财付通支付服务费率-->
    <add key="TenpayPaymentServiceRate" value="0.005" />
    <!--财付通支付服务费上限金额-->
    <add key="TenpayPaymentServiceUpAmount" value="100" />
    <!--财付通支付服务费税率-->
    <add key="TenpayPaymentServiceTaxRate" value="0.058201058" />
    <!--卖方手续代办费金额（单位：元，默认350）-->
    <add key="ProcedureEnsureFee" value="1" />
    <!--卖方交易服务费率（单位：%，默认0.5）-->
    <add key="SellerTradeServiceFeeRate" value="1" />
    <!--折扣（单位：%，默认0.5）-->
    <add key="SellerTradeServiceFeeDisCount" value="0.5" />
    <!--卖方出售保证金率（单位：3%）-->
    <add key="SellerSendEnsureFeeRate" value="3" />
    <!--卖方物流保证金率（单位：200%）-->
    <add key="SellerLogisticEnsureFeeRate" value="200" />
    <!--买方交易服务费率（单位：%，默认0.5）-->
    <add key="BuyerTradeServiceFeeRate" value="2" />
    <!--买方收货保证金率（单位：3%）-->
    <add key="BuyerReceiveEnsureFeeRate" value="3" />
    <!--买方物流保证金率（单位：100%）-->
    <add key="BuyerLogisticEnsureFeeRate" value="100" />
    <!--物流保险费计算的分界价格（单位：元）-->
    <add key="LogisticInsuranceSeperatePrice" value="600000" />
    <!--高于物流保险费分界价格的费率（单位：0.3%）-->
    <add key="UpSeperatePriceRate" value="0.3" />
    <!--低于物流保险费分界价格的费率（单位：0.1%）-->
    <add key="BelowSeperatePriceRate" value="0.1" />
    <!--物流费保险费最低金额（单位：100元）-->
    <add key="LogisticsLowLimitAmount" value="100" />
    <add key="PaymentLogPath" value="D:\TFSRoot\TranstarAuction2011\Src\BitAuto.Ucar.Transtar.Auction.Web\ErrorLog\" />
    <!--预付过户提档费金额-->
    <add key="CarTransferFeePre" value="1000" />
    <!--通知买家收货后，系统自动确认收车的时间期限-->
    <add key="ReceiveExpired" value="72" />
    <add key="HuoYanKey" value="41F59480-5F62-4A4F-AED5-6B7BB5EB47A2" />
    <!--快速到帐手续费,大于80万，无法使用快速到帐 -->
    <add key="CarFastpayRate" value="0=200000=300|200000=400000=600|400000=800000=900|800000=0=-1" />
    <!--域名 -->
    <add key="LocalDomain" value="http://test2.upp.ucar.cn/" />
    <!--角色:拍卖执行人-->
    <add key="PaiMaiPersonRole" value="260" />
    <!--角色:公司管理员-->
    <add key="CompanyManageRole" value="262" />
    <!--角色:渠道管理员-->
    <add key="ChannelManageRole" value="261" />
    <!--角色:买家拍卖执行人角色-->
    <add key="BuyerPaiMaiPersonRole" value="267" />
    <!--抵押保证金最低余额限制-->
    <add key="GuaFundBalanceLowerLimit" value="1000" />
    <!-- 奥迪厂商ID-->
    <add key="AudiID" value="363" />
    <!-- 系统日志模块ID-->
    <!--优信拍前台-->
    <add key="AuctionWebLogModule" value="0301" />
    <!--优信拍OP-->
    <add key="AuctionOPLogModule" value="0302" />
    <!--优信拍智能管理-->
    <add key="AuctionManageCountLogModule" value="0303" />
    <!--优信拍拍卖独立查询-->
    <add key="AuctionReviewLogModule" value="0304" />
    <!-- 新的日志引用地址 -->
    <add key="BitAuto.Services.OperationLog.RemotingUrl" value="tcp://192.168.0.223:30005/OperationLogRemotingService" />
    <!--过户手续费收费区间 -->
    <add key="TransferServiceFeeRule" value="0=1=480|1=2=780|2=0=1000" />
    <!--出价保证金最低值,单位:元 -->
    <add key="BidEnsureFeeStart" value="1000" />
    <!--出售保证金最低值,单位:元 -->
    <add key="SellerEnsureFeeStart" value="1000" />
    <!--出售保证金最低值,单位:元 -->
    <add key="BuyerEnsureFeeStart" value="1000" />
    <!--属于优信拍的权限 -->
    <add key="YXPJurisdiction" value="5" />
    <!-- 发车特殊用户ID -->
    <add key="SpeTvaIds" value="880" />
    <!--属于优信拍的权限 -->
    <add key="YXPJurisdiction" value="5" />
    <!--属于查客的权限 -->
    <add key="HYJurisdiction" value="1896" />
    <!--延长出价结束时间和拍卖结束时间（分钟）-->
    <add key="PublishEndTimeAddMinutes" value="1" />
    <!--在出价结束时间结束前几分钟，延长结束时间-->
    <add key="PublishEndTimeLessMinutes" value="1" />
    <!--谷歌地图MapKey ucar.cn 供paimai.ucar.cn使用 -->
    <add key="MapKey" value="ABQIAAAAA2PRC1AAloq28NWel83YkxRUj_uhcBTQX1Peur9vo_ieKekN6xQMuUZQBdcrdPDuu2O13HzNomL_mQ" />
    <!--查客URL地址-->
    <add key="CheckautoUrl" value="test1.huoyan.ucar.cn" />
    <!-- 统计URL -->
    <add key="statUrl" value="http://localhost:29425/AuctionVisit/VisitLog" />
    <!--竞价最低幅度-->
    <add key="BidLowestPriceDegree" value="200" />
    <add key="YouXinPai.Common.UrlTransform.Domain" value="http://test.url.youxinpai.com/" />
    <add key="RoleId" value="293" />
  </appSettings>
  <BitAuto.Ucar.Transtar.Auction.NetTiers.Dal defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="BitAuto.Ucar.Transtar.Auction.NetTiers.Dal.SqlClient.SqlNetTiersProvider, BitAuto.Ucar.Transtar.Auction.NetTiers.Dal.SqlClient" connectionStringName="BitAuto.Ucar.Transtar.Auction.NetTiers.Dal.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="BitAuto.Ucar.Transtar.Auction.NetTiers.Entities.EntityFactory" useEntityFactory="false" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30" />
    </providers>
  </BitAuto.Ucar.Transtar.Auction.NetTiers.Dal>
  <BitAuto.Ucar.Transtar.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="BitAuto.Ucar.Transtar.Data.SqlClient.SqlNetTiersProvider, BitAuto.Ucar.Transtar.Data.SqlClient" connectionStringName="BitAuto.Ucar.Transtar.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="BitAuto.Ucar.Transtar.Entities.EntityFactory" useEntityFactory="false" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30" />
    </providers>
  </BitAuto.Ucar.Transtar.Data>
  <Bitauto.Ucar.Transtar.Framework.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="Bitauto.Ucar.Transtar.Framework.Data.SqlClient.SqlNetTiersProvider, Bitauto.Ucar.Transtar.Framework.Data.SqlClient" connectionStringName="Bitauto.Ucar.Transtar.Framework.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Bitauto.Ucar.Transtar.Framework.Entities.EntityFactory" useEntityFactory="false" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30" />
    </providers>
  </Bitauto.Ucar.Transtar.Framework.Data>
  <applicationSettings>
    <BitAuto.Ucar.Transtar.Auction.BLL.Properties.Settings>
      <setting name="BitAuto_Ucar_Transtar_Auction_BLL_MobileMessaging_MobileMessagingServices" serializeAs="String">
        <value>http://test1.service.ucar.cn/MobileMessagingServices.asmx</value>
      </setting>
    </BitAuto.Ucar.Transtar.Auction.BLL.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>