<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="server=221.123.166.100;User Id=ggb98;password=781012;CharSet=utf8;DataBase=SuperMarket" providerName="PWMIS.DataProvider.Data.MySQL,PWMIS.MySqlClient"/>
  </connectionStrings>
</configuration>