<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="local" 
         connectionString="Server=192.168.13.117;User Id=video;Password=12345678;Database=test;Port=54321" 
         providerName="PWMIS.DataProvider.Data.Kingbase,PWMIS.KingbaseClient"/>
  </connectionStrings>
</configuration>