<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--PDF.NET.SOD SQL 日志记录配置（for 4.0）开始
        记录执行的SQL语句，关闭此功能请将SaveCommandLog 设置为False，或者设置DataLogFile 为空；
        如果DataLogFile 的路径中包括~符号，表示SQL日志路径为当前Web应用程序的根目录；
        如果DataLogFile 不为空且为有效的路径，当系统执行SQL出现了错误，即使SaveCommandLog 设置为False，会且仅仅记录出错的这些SQL语句；
        如果DataLogFile 不为空且为有效的路径，且SaveCommandLog 设置为True，则会记录所有的SQL查询。
        在正式生产环境中，如果不需要调试系统，请将SaveCommandLog 设置为False 。
    -->
    <add key="SaveCommandLog" value="True" />
    <add key="DataLogFile" value="Log\SqlLog.txt" />
    <!--LogExecutedTime 需要记录的时间，如果该值等于0会记录所有查询，否则只记录大于该时间的查询。单位毫秒。-->
    <add key="LogExecutedTime" value="0" />
    <!--PDF.NET SQL 日志记录配置 结束-->
  </appSettings>
  <connectionStrings>
    <add name="local" 
         connectionString="Server=192.168.1.17;User Id=admin;Password=12345678;Database=test;Port=54321" 
         providerName="PWMIS.DataProvider.Data.Kingbase,PWMIS.KingbaseClient"/>
  </connectionStrings>
</configuration>