<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="SchoolName" value="XX中YY级"/>
    <add key="SchoolYear" value="20"/>
    <add key="Head_reg_link" value="http://www.pwmis.com/dy295/"/>
    <add key="Head_reg_memo" value="dy295意思是 XX中YY级 的意思"/>
     <!--关闭日志记录并且没有配置日志文件，将会记录在 C:\ProgramData\SODLog 目录-->
     <add key="SaveCommandLog" value="true"/>
     <add key="DataLogFile" value="Log.txt"/>
  </appSettings>
	<connectionStrings>
		<!--<add name="local" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer" />-->
		<add name="local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~/Database1.mdf;Integrated Security=True" providerName="SqlServer" />
	</connectionStrings>
</configuration>