<?xml version="1.0"?>
<configuration>
  <connectionStrings>
     <add name="local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~/Database1.mdf;Integrated Security=True" providerName="SqlServer"/>
    <add name="local2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~/Database2.mdf;Integrated Security=True" providerName="SqlServer"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
