<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=.;uid=sa;pwd=sa;database=TestDB;pooling=true;Max Pool Size = 2000;" providerName="SqlServer" />
  </connectionStrings>
  <appSettings>
    <!--<add key="SqlServerConnectionString" value="Data Source=localhost;Initial catalog=HAFCSMS;user id=sa;password=sa" />
        <add key="SqlServerHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="SqlServerHelperType" value="PWMIS.CommonDataProvider.Data.SqlServer"></add>
		    <add key="OleDbConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\TestApp.mdb" />
        <add key="OleDbHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OleDbHelperType" value="PWMIS.CommonDataProvider.Data.OleDb"></add>
        <add key="OdbcConnectionString" value="DRIVER={SQL Server};SERVER=localhost;DATABASE=DAABAF;UID=daab;PWD=daab;" />
        <add key="OdbcHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OdbcHelperType" value="PWMIS.CommonDataProvider.Data.Odbc"></add>
        <add key="OracleConnectionString" value="User ID=DAAB;Password=DAAB;Data Source=spinvis_flash;" />
        <add key="OracleHelperAssembly" value="PWMIS.CommonDataProvider.Data"></add>
        <add key="OracleHelperType" value="PWMIS.CommonDataProvider.Data.Oracle"></add>-->
    <!--代码模板路经 -->
    <add key="CodeTemplatePath" value=""/>
    <!--SqlMap 配置文件路径-->
    <add key="SqlMapConfigFile" value="..\..\SqlMapDemo\SqlMap.config"/>
    <!--输出文件目录 -->
    <add key="OutPutPath" value="..\..\SqlMapDemo"/>
    <!--根名称空间 -->
    <add key="RootNameSpace" value="TestWebAppDAL"/>
    <!--目录代码语言：VB/CSharp -->
    <add key="CodeLanguage" value="CSharp"/>
    <!--是否重新上次生成的代码 -->
    <add key="ReWrite" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>