<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer"/>
    <add name="conn2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=..\..\Database1.mdf;Integrated Security=True" providerName="SqlServer"/>
	</connectionStrings>
</configuration>