<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DemoDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~\DB\DemoDB.mdf;Integrated Security=True" providerName="SqlServer"/>
    <add name="TargetDB"  connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Engine Type=6;Data Source=~\DB\TargetDb.accdb" providerName="Access"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>