<?xml version="1.0" encoding="utf-8" ?>
<SqlMap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    xsi:noNamespaceSchemaLocation="SqlMap.xsd" 
        EmbedAssemblySource="SqlMapDemo,SqlMapDemo.SqlMap.config" >
  <Script Type ="SqlServer" ConnectionString="" Version="2008" >
    <CommandClass Name="TestGroup" Class="TestSqlMapClass" Description ="SQL-MAP示例测试程序" >
      <Select CommandName="QueryStudentSores" Description="找出每一个系的最高分，并且按系编号，学生编号升序排列" 
              CommandType="Text" Method="" ResultClass="DataSet" >
        <![CDATA[
         WITH cte1 as (
 select stu.deptID,
        D.depName, 
        stu.stuid ,
        stu.stuName,
        score_sum.AllScore
	from dbo.Student stu
	  inner join (select stuid ,SUM(score) as AllScore from dbo.Score group by stuid) score_sum	  
		  on  stu.stuid =score_sum.stuid 
      inner join dbo.Department D on stu.deptID= D.depID
)
 select cte1.* from cte1 
      inner join (select deptID, max(AllScore) maxScore from cte1  group by deptID) M
            on cte1.AllScore = M.maxScore and cte1.deptID=M.deptID
 order by cte1.deptID,
          cte1.stuid
		
        ]]>
      </Select>
    </CommandClass>
  </Script>
  
</SqlMap>
