<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="local" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer" />-->
    <add name="local" connectionString="server=123.57.0.1;User Id=root;password=root;DataBase=testdb" 
         providerName="PWMIS.DataProvider.Data.MySQL,PWMIS.MySqlClient" />
   
  </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
