<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--下面的连接用于32位Windows上 -->
    <add name="default" connectionString="Data Source=|DataDirectory|testdb.db" providerName="PWMIS.DataProvider.Data.SQLite,PWMIS.SQLiteClient"/>
    <!--下面的连接用于64位Linux上 -->
    <!--<add name="default" connectionString="Data Source=|DataDirectory|testmonodb.db" providerName="PWMIS.DataProvider.Data.Sqlite,PWMIS.SQLiteClient.Mono40x64"/>-->
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
