<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="SchoolName" value="XX中YY级"/>
    <add key="SchoolYear" value="20"/>
    <add key="Head_reg_link" value="http://www.pwmis.com/dy295/"/>
    <add key="Head_reg_memo" value="dy295意思是 XX中YY级 的意思"/>
    
     <add key="SaveCommandLog" value="True"/>
    <add key="DataLogFile" value="Log2.txt"/>
  </appSettings>
	<connectionStrings>
		<add name="local" connectionString="Data Source=.;Initial Catalog=LocalDB;Integrated Security=True" providerName="SqlServer" />
		<!--<add name="default" connectionString="Data Source=192.168.200.51;Initial Catalog=Test;User ID=sa;Password=yxp00000000" providerName="SqlServer" />-->
	</connectionStrings>
</configuration>